@import 'variables';

// New item glow
.animation-new {
  animation: new (1s);
}

.animation-legacy {
  animation: new (1s);
  border: 2px solid $color_legacy !important;
  background: darken(rgba($color_legacy, .2),10) !important;
}

// Deleted item
.animation-deleted {
  animation: delete (2s);
}

// Log effects
.reflectEffect {
  animation: glowReflect (5s) infinite;
}

.boostEffect {
  animation: glowBoost (5s) infinite;
}

// .unique.glow_fire { animation: glow_fire (3s) infinite; }
// .unique.glow_earth { animation: glow_earth (3s) infinite; }
// .unique.glow_water { animation: glow_water (3s) infinite; }
// .unique.glow_light { animation: glow_light (3s) infinite; }
// .unique.glow_darkness { animation: glow_darkness (3s) infinite; }

/* Fumble background anim */
@keyframes effect {
  0% {
    opacity: 0;
    background-position: center -200px;
  }
  50% {
    background-position: center center;
    opacity: 1;
  }
  100% { 
    opacity: 0;
    background-position: center 300px;
  }
}

@keyframes effect-opponent {
  0% {
    opacity: 0;
    background-position: center -201px;
  }
  50% {
    background-position: center center;
    opacity: 1;
  }
  100% { 
    opacity: 0;
    background-position: center 301px;
  }
}

/* Attack animation : rubber bounce */
@keyframes monsterAttack {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: translateY(-50%) scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: translateY(-80%) scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: translateY(-30%) scale3d(0.75, 1.25, 1) scale(1.20);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: translateY(-20%) scale3d(1.15, 0.85, 1) scale(1.20);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: translateY(-30%) scale3d(0.95, 1.05, 1) scale(1.20);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: translateY(-40%) scale3d(1.05, 0.95, 1) scale(1.20);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: translateY(-50%) scale3d(1, 1, 1);
  }
}

/* Intro animation */
@keyframes monsterIntro {
  from {
    opacity: 0;
    transform: translateY(300%) scale3d(.1, .1, .1) scaleX(-1);
    animation-timing-function: ease-out;
  }
  30% {
    opacity: .5;
    transform: translateY(-100%) scale3d(.2, .2, .2) scaleX(-1);
    animation-timing-function: ease-in-out;
  }
  60% {
    opacity: 1;
    transform: translateY(0%) scale3d(2, 2, 2) scaleX(-1);
    animation-timing-function: ease-in-out;
  }
  90% {
    transform: translateY(-50%) scale3d(.9, .9, .9);
    transform: translateY(-50%) scale3d(.9, .9, .9);
    animation-timing-function: ease-in-out;
  }
  to {
    transform: translateY(-50%) scale3d(1, 1, 1);
    animation-timing-function: ease-out;
  }
}

@keyframes spin {
    from {
        transform:rotate(0deg) translateZ(0);
    }
    to {
        transform:rotate(360deg) translateZ(0);
    }
}

@keyframes rumble {
    0% {transform: rotate(0deg);}
    20% {transform: translate(4px, 0px) rotate(-2deg);}
    40% {transform: translate(2px, -6px) rotate(2deg);}
    60% {transform: translate(-2px, -4px) rotate(0deg);}
    80% {transform: translate(6px, 2px) rotate(2deg);} 
    90% {transform: translate(4px, -2px) rotate(-2deg);} 
    100% {transform: translate(0px, 0px) rotate(0deg);} 
}

.animation-rumble {
  animation: rumble 0.40s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes moveSlideshow {  
  100% { 
    -webkit-transform: translateX(-1350px);  
  }
}
@keyframes moveSlideshowLong {  
  100% { 
    -webkit-transform: translateX(-2250px);  
  }
}

@keyframes flash {
  from {  } 
  92% {  }
  93% { filter: brightness(2) }
  94% { filter: brightness(1.5) }
  95% { filter: brightness(3) } 
  96% {  }
  to {  }
}

@keyframes glow {
    0% { filter: drop-shadow(0px 0px 30px #fc266b); }
    20% { filter: drop-shadow(0px 0px 30px #fc266b) drop-shadow(0px 0px 40px #fc266b); }
    45% { filter: drop-shadow(0px 0px 10px #ffc4a2) drop-shadow(0px 0px 15px #ffc4a2); }
    50% { filter: drop-shadow(0px 0px 40px #ffc4a2) drop-shadow(0px 0px 40px #ffc4a2); }
    55% { filter: drop-shadow(0px 0px 10px #ffc4a2) drop-shadow(0px 0px 15px #ffc4a2); }
    80% { filter: drop-shadow(0px 0px 30px #fc266b) drop-shadow(0px 0px 40px #fc266b); }
    100% {filter: drop-shadow(0px 0px 30px #fc266b); } 
}

@keyframes glowBoost {
    0% { filter: drop-shadow(0px 0px 10px $color_STR);  }
    16% { filter: drop-shadow(0px 0px 20px $color_STR); }
    32% { filter: drop-shadow(0px 0px 10px $color_STR); }
    48% { filter: drop-shadow(0px 0px 60px $color_STR); }
    64% { filter: drop-shadow(0px 0px 10px $color_STR); }
    82% { filter: drop-shadow(0px 0px 20px $color_STR); }
    100% { filter: drop-shadow(0px 0px 10px $color_STR); } 
}

@keyframes glow_fire {
    0% { filter: drop-shadow(0px 0px 3px $element_fire); }
    50% { filter: drop-shadow(0px 0px 6px saturate(lighten($element_fire, 10), 30)) brightness(1.1); }
    100% { filter: drop-shadow(0px 0px 3px $element_fire); } 
}

@keyframes glow_earth {
    0% { filter: drop-shadow(0px 0px 3px $element_earth); }
    50% { filter: drop-shadow(0px 0px 6px saturate(lighten($element_earth, 10), 30)) brightness(1.1); }
    100% { filter: drop-shadow(0px 0px 3px $element_earth); } 
}

@keyframes glow_water {
    0% { filter: drop-shadow(0px 0px 3px $element_water); }
    50% { filter: drop-shadow(0px 0px 6px saturate(lighten($element_water, 10), 30)) brightness(1.1); }
    100% { filter: drop-shadow(0px 0px 3px $element_water); } 
}

@keyframes glow_light {
    0% { filter: drop-shadow(0px 0px 3px $element_light); }
    50% { filter: drop-shadow(0px 0px 6px saturate(lighten($element_light, 10), 30)) brightness(0.9); }
    100% { filter: drop-shadow(0px 0px 3px $element_light); } 
}

@keyframes glow_darkness {
    0% { filter: drop-shadow(0px 0px 3px $element_darkness); }
    50% { filter: drop-shadow(0px 0px 6px saturate(lighten($element_darkness, 10), 30)) brightness(1.1); }
    100% { filter: drop-shadow(0px 0px 3px $element_darkness); } 
}

@keyframes glowReflect {
    0% { filter: drop-shadow(0px 0px 10px $color_MAG);  }
    16% { filter: drop-shadow(0px 0px 20px $color_MAG); }
    32% { filter: drop-shadow(0px 0px 10px $color_MAG); }
    48% { filter: drop-shadow(0px 0px 60px $color_MAG); }
    64% { filter: drop-shadow(0px 0px 10px $color_MAG); }
    82% { filter: drop-shadow(0px 0px 20px $color_MAG); }
    100% { filter: drop-shadow(0px 0px 10px $color_MAG); } 
}

@keyframes new {
    0% { 
      filter: drop-shadow(0px 0px 1px #ffc4a2) drop-shadow(0px 0px 1px #ffc4a2);
      transform: scale(1.2);
    }
    50% { 
      filter: drop-shadow(0px 0px 20px #ffc4a2) drop-shadow(0px 0px 10px #ffc4a2);
     }
    100% {} 
}

@keyframes delete {
    0% { 
      filter: drop-shadow(0px 0px 1px red) drop-shadow(0px 0px 1px red);
      transform: scale(1.4);
    }
    50% { 
      filter: drop-shadow(0px 0px 20px red) drop-shadow(0px 0px 10px red);
      background: red;
     }
    100% {} 
}

@keyframes danger {
    0% { opacity: 0; }
    60% { opacity: .3;}
    100% { opacity: 0;} 
}

@mixin animation-danger($danger) {
  animation: danger (10s-$danger) infinite;
}

/** TRANSITIONS **/
/* starting ENTER animation */
.playerLog-enter {
  opacity: 0;
  transform: translate(0, -200px) scale(.4);
}

/* ending ENTER animation */
.playerLog-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 600ms ease-in-out;
}

/* starting EXIT animation */
.playerLog-exit {
  opacity: 1;
  transform: scale(1);
}

/* ending EXIT animation */
.playerLog-exit-active {
  z-index: 200;
  opacity: 0;
  transform: translate(0, -200px) scale(.4);
  transition: all 600ms ease-in-out;
}

/* starting ENTER animation */
.opponentLog-enter {
  opacity: 0;
  transform: translate(0, 200px) scale(.4);
}

/* ending ENTER animation */
.opponentLog-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 600ms ease-in-out;
}

/* starting EXIT animation */
.opponentLog-exit {
  opacity: 1;
  transform: scale(1.01);
}

/* ending EXIT animation */
.opponentLog-exit-active {
  opacity: 0;
  transform: translate(0, 200px) scale(.4);
  transition: all 600ms ease-in-out;
}

/** Fade between views transition */
.fadeView_2000-enter, .fadeView_2000-appear, .fadeView_1000-enter, .fadeView_1000-appear {
  opacity: 0;
  z-index: 30;
}

/* ending ENTER animation */
.fadeView_2000-enter-active, .fadeView_2000-appear-active, .fadeView_2000-appear-done {
  opacity: 1;
  transition: all 2000ms ease-in-out;
  z-index: 30;
}
.fadeView_1000-enter-active, .fadeView_1000-appear-active, .fadeView_1000-appear-done {
  opacity: 1;
  transition: all 1000ms ease-in-out;
  z-index: 30;
}

/* starting EXIT animation */
.fadeView_2000-exit, .fadeView_1000-exit  {
  opacity: 1;
  z-index: 30;
}

/* ending EXIT animation */
.fadeView_2000-exit-active {
  opacity: 0;
  transition: all 2000ms ease-in-out;
}

.fadeView_1000-exit-active {
  opacity: 0;
  transition: all 1000ms ease-in-out;
}


/** Fade between views transition */
.fade-enter, .fade-appear {
  opacity: 0;
}

/* ending ENTER animation */
.fade-enter-active, .fade-appear-active, .fade-appear-done {
  opacity: 1;
  transition: all 300ms ease-in-out;
}

/* starting EXIT animation */
.fade-exit, .fade-leave {
  opacity: 1;
}

/* ending EXIT animation */
.fade-exit-active, .fade-leave-active {
  opacity: 0;
  transition: all 300ms ease-in-out;
}