@font-face {
    font-family: 'pixelsix00regular';
    src: url('../fonts/pixelsix00-webfont.woff2') format('woff2'),
         url('../fonts/pixelsix00-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'eight_bit_dragonregular';
  src: url('../fonts/eightbitdragon-anqx-webfont.woff2') format('woff2'),
       url('../fonts/eightbitdragon-anqx-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

textarea:focus, input:focus, button:focus{
  outline: none;
}

/* Utils */
.transparent {
  opacity: .1;
  transition: opacity 700ms;
}

.position-relative {
  position: relative;
}

/* Main app */
html, body, #root, button {
  font-family: "eight_bit_dragonregular";
  font-size: 12px;
  color: white;
  /* cursor: url("../pics/ui/cursor_default.png") 10 0, auto !important; */
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  text-shadow: 1px 1px black;
  image-rendering: pixelated;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #112022;
}

.monsterOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.3;
}

.appWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 750px;
  padding: 30px;
  margin-top: 30px;
}

/* Player info on top */
.playerInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  text-align: center;
  z-index: 10;
}

.playerInfo .gold {
  display: flex;
  align-items: center;
  flex-basis: 15%;
}

.playerInfo .gold span {
  padding-left: 5px;
}

.playerInfo .player {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  flex: 1;
}

.playerInfo .player .name {
  
}

.playerInfo .player .job {
  padding-top: 5px;
  font-size: 10px;
}

.playerInfo .level {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 15%;
  font-size: 10px;
}

.playerInfo .level .bar {
  margin: 5px 0px 0px 0px;
}

/* Player stats */
.playerStats {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
  text-shadow: 0px 0px 3px black;
}

.playerStats > div {
  width: 50px;
  height: 40px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-align: center;
}

.playerStats span {
  font-size: 8px;
  opacity: .6;
  margin-bottom: 3px;
}

.playerStats div.buff {
  color: #e7323b;
}

/* Player items */
.playerItems {
  display: flex;
  justify-content: space-between;
  margin: 5px 0px 10px 0px;
}

.playerItems > div {
  width: 50px;
  height: 50px;
  font-size: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(255,255,255,.08);
  box-shadow: inset 0px 0px 8px rgba(241, 241, 241, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.89);
}

/* Player skills */
.playerSkills {
  display: flex;
  justify-content: space-between;
}

.playerSkills > div {
  width: 50px;
  height: 50px;
  font-size: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  text-align: center;
  background-color: #402d24;
  opacity: .3;
}

/* Opponent area */
.opponentWrapper {
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 15px;
  flex: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  transition: all 500ms;
}

.opponentWrapper.turn {
  transition: all 500ms;
  /* transform: scale(1.5); */
}

.opponentWrapper.turn .portrait {
  transform: scale(1.08);
  transition: all 300ms;
  filter: drop-shadow(2px 4px 10px rgba(0,0,0,.5)) brightness(100%);
}

.opponentWrapper .level {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  font-size: 10px;
  opacity: 0.6;
}

.opponentWrapper .infos {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.opponentWrapper .portrait {
  width: 400px;
  height: 400px;
  position: absolute;
  /* top: -200px; only for desktop ? */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transition: all 300ms;
  filter: brightness(50%);
}

.opponentWrapper .name {
  font-size: 22px;
  margin: 10px 0px 3px 0px;
  z-index: 10;
  text-shadow: 0px 0px 7px black, 0px 0px 10px black;
  align-self: flex-start;
}

.opponentWrapper .job {
  margin-bottom: 10px;
  font-size: 10px;
  z-index: 10;
  align-self: flex-start;
}

/* Gauge */
.barsWrapper {
  display: flex;
  margin-bottom: 10px;
}

.barsWrapper > div {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.barsWrapper > div:first-child {
  padding-right: 5px;
}
.barsWrapper > div:last-child {
  padding-left: 5px;
}

.bar {
  width: 100%;
  margin-bottom: 5px;
  background-color: rgba(255,255,255,.10);
  filter: drop-shadow(0px 0px 3px #000000);
  border-radius: 4px;
  display: flex;
  position: relative;
}

.bar .indicator {
  border-radius: 4px;
  transition: all 2000ms;
  box-shadow: inset 1px 1px 3px #ffffff42, inset -1px -1px 3px #0000008a;
}

.bar .value {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
}

.bar.hitPoints .indicator {
  background-color: #e7323b;
  height: 20px;
}

.bar.magicPoints .indicator {
  background-color: #0494ab;
  height: 20px;
}

.bar.physicalRage .indicator {
  background-color: #ce6d0a;
  height: 12px;
}

.bar.magicalRage .indicator {
  background-color: #01a972;
  height: 12px;
}

.bar.xp .indicator {
  background-color: #01a972;
  height: 10px;
}

.bar.small .indicator {
  height: 12px;
}

/* Hit bar */
.hitbar {
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
  background-color: rgba(255,255,255,.05);
  filter: drop-shadow(0px 0px 3px #000000);
  border-radius: 4px;
  position: relative;
}

.hitbar .wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.hitbar .wrapper.position {
  z-index: 11;
  width: 0px;
  transition: all 1s;
}

.hitbar .wrapper.position div {
  border-right: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hitbar .wrapper div {
  border-right: 1px dotted rgba(0, 0, 0, 0.22);
  flex: 1 1 0px;
}

.hitbar div.fumble {
  background: #112022 url('../pics/ui/hitBar_fumble.png') no-repeat center center;
}

.hitbar div.miss {
  background-color: #3c3c3c;
}

.hitbar div.hit {
  background-color: #e7323b;
}

.hitbar div.physicalDefend {
  background-color: #e7323b;
}

.hitbar div.critical {
  background: #ce6d0a url('../pics/ui/hitBar_critical.png') no-repeat center center;
}

.hitbar div.roll {
  background-color: rgba(255,255,255,.9);
  flex-basis: 10px;
  height: 10px;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 10px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.7));
}

.hitbar .wrapper > div:first-child {
  border-radius: 4px 0px 0px 4px;
}

.hitbar .wrapper > div:last-child {
  border-right: none;
  border-radius: 0px 4px 4px 0px;
}

.LogsContainer {
  position: relative;
  flex: 1;
}

.LogsAnimationContainer {
  flex: 1;
}

.LogsWrapper {
  position: absolute;
  width: 100%;
  min-height: 80px;
  height: 100%;
  padding: 10px;
  flex:1;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background: linear-gradient(0deg, #112022 74%, rgba(0, 212, 255, 0) 100%); */
  z-index: 10;
}

.LogsWrapper > div {
  width: 100%;
}

.LogsWrapper .title {
  margin-bottom: 10px;
}

.LogsWrapper .message {
  font-size: 26px;
}

.LogsWrapper .logvalue {
  padding: 0px 5px;
} 

.LogsWrapper .log_defend .logvalue {
  color: #e7323b;
} 

.LogsWrapper .smallMessage {
  font-size: 18px;
  margin-bottom: 5px;
}

.LogsWrapper .tinyMessage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.LogsWrapper .special {
  font-size: 16px;
  margin-bottom: 20px;
}

.LogsWrapper .result {

}

.log_defend {
  display: flex;
  align-items: center;
}

.damage {
  color: #e7323b;
}

/* Buttons */
.actionWrapper {
  position: relative;
  margin-top: 10px;
}

.actionsWrapper {
  position: relative;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.buttons button.defend {
  border-radius: 10px 0 0 10px;
}

.buttons button.attack {
  border-radius: 0 10px 10px 0;
  border-left: 1px solid rgba(255,255,255,.15);
}

.buttons button.special {
  border-radius: 10px;
  margin-left: 10px;
}

button {
  height: 40px;
  border: none;
  flex-basis: 25%;
  font-size: 9px;
  cursor: pointer;
}

button.attack {
  flex-basis: 50%;
  font-size: 10px;
}

button.physical {
  background: #e7323b;
}

button.magical {
  background: #0494ab;
}

button.disabled {
  opacity: .3;
  cursor: not-allowed;
}

.opponentButtonWrapper {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 7px black, 0px 0px 10px black;
}

.opponentButtonWrapper div:first-child {
  margin-bottom: 5px;
}

.opponentButtonWrapper div:last-child {
  font-size: 20px;
}

/* End game screen */
.endGame {
  z-index: 20;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* opacity: 0; */
  background: rgba(0, 0, 0, 0.9);
  transition: opacity 2s;
}