@import 'variables';
@import 'animations';

@font-face {
    font-family: 'pixelsix00regular';
    src: url('../fonts/pixelsix00-webfont.woff2') format('woff2'),
         url('../fonts/pixelsix00-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'eight_bit_dragonregular';
  src: url('../fonts/eightbitdragon-anqx-webfont.woff2') format('woff2'),
       url('../fonts/eightbitdragon-anqx-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* { 
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

textarea:focus, input:focus, button:focus{
  outline: none;
}

/* Utils */
.transparent {
  opacity: .1;
  transition: opacity 700ms;
}

.half-transparent {
  opacity: .5;
  transition: opacity 700ms;
}

.third-transparent {
  opacity: .3;
  transition: opacity 700ms;
}

.position-relative {
  position: relative;
}

/* Main app */
html, body, #root, button {
  font-family: "eight_bit_dragonregular";
  font-size: 12px;
  color: white;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
  /* cursor: url("../pics/ui/cursor_default.png") 10 0, auto !important; */
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  text-shadow: 1px 1px black;
  image-rendering: pixelated;
  background-color: $color_body;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.monsterOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.3;
  z-index: 0;
  transition: background-color 5s ease; 
}

.appWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  height: 100%;
  /* max-width: 340px;
  max-height: 750px; */
  padding: 0px;
  overflow: hidden; /* Prevents side scrolling for overflowing pictures */
}

.vibrationWrapper {
  display: flex;
  flex: 1;
}

.presentationArea {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;

  &.highIndex {
    z-index: 30;
  }
}

.title {
  font-size: 20px;
}

.actionArea {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 30;

  button {
    margin: 5px !important;
  }
}

/* Player area */
.playerArea {
  flex: 1;
  position: relative;
  transition: all 500ms;
  padding: 10px;
  // background-color: rgba(0, 0, 0, 0.25);

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 15px 13px rgba(255, 0, 0, 0.22);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  &.danger_6:after { @include animation-danger(6); opacity: .2; }
  &.danger_7:after { @include animation-danger(7); opacity: .4; }
  &.danger_8:after { @include animation-danger(8); opacity: .6; }
  &.danger_9:after { @include animation-danger(9); opacity: .8; }
  &.danger_10:after { @include animation-danger(9); opacity: .9; }
}

.playerArea.playerTurn {
  opacity: 1;
  transition: all 500ms;
}

.playerArea.opponentTurn {
  opacity: .5;
  transition: all 500ms;
}

/* Player info on top */
/* .playerInfoWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 10;
}

.playerInfo {
  display: flex;
  justify-content: space-between;
  flex: 1;
  font-size: 11px;
  margin-bottom: 10px;
  text-align: center;
}

.playerInfo .gold {
  display: flex;
  align-items: center;
  flex-basis: 20%;
}

.playerInfo .gold span {
  padding-left: 5px;
}

.playerInfo .player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
}

.playerInfo .player .name {
  
}

.playerInfo .player .job {
  padding-top: 5px;
  font-size: 10px;
}

.playerInfo .level {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 20%;
  font-size: 10px;
}

.playerInfo .level .bar {
  margin: 5px 0px 0px 0px;
} */

/* Player skills */
.playerSkills {
  display: flex;
  justify-content: space-between;
  max-width: 320px;
  margin: 0 auto;
}

.playerSkills > div {
  width: 50px;
  height: 50px;
  font-size: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  text-align: center;
  background-color: #402d24;
  opacity: .3;
}

/* Opponent area */
.opponentWrapper {
  position: relative;
  padding: 10px;
  margin: 10px;
  flex: 1;
  overflow: hidden;
  min-height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background:rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  transition: all 500ms;
  z-index: 1;
}

.opponentWrapper.turn {
  transition: all 500ms;
  overflow: visible;
}

.opponentWrapper.turn .portrait.ready {
  opacity: 1;
  transition: all 2000ms;
  filter: drop-shadow(2px 4px 10px rgba(0,0,0,.5)) brightness(100%);
  animation: monsterAttack 1s cubic-bezier(.36,.07,.19,.97) both;
  transform: translateY(-50%);
  z-index: 100;
}

.opponentWrapper .infos {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
}

.opponentWrapper .portrait {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 300ms;
  filter: brightness(50%);
  z-index: 0;
}

.name {
  text-align: right;
  
  .details {
    margin-top: 5px;
    font-size: 10px;

    &::first-letter {
      text-transform: uppercase;
    }

    .fire { color: $element_fire; }
    .water { color: $element_water; }
    .earth { color: $element_earth; }

    .eliteMarker {
      margin-left: 7px;
      color: $color_elite;
    }
  }
}

/* Gauge */
.barsWrapper {
  display: flex;
  margin-bottom: 10px;
  z-index: 1;
}

.bar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.39);
  border-radius: 4px;
  display: flex;
  position: relative;
  z-index: 1;
}

.bar .indicator {
  border-radius: 4px;
  transition: all 2000ms;
  box-shadow: inset 1px 1px 3px #ffffff42, inset -1px -1px 3px #0000008a;
}

.bar .value {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
}

.bar.hitPoints .indicator {
  background-color: $color_STR;
  height: 35px;
}

.bar.hitPoints .value {
  font-size: 12px;
}

.bar.magicPoints .indicator {
  background-color: $color_mana;
  height: 12px;
}

.bar.stamina .indicator {
  background-color: $color_stamina;
  height: 12px;
}

.bar.physicalRage .indicator {
  background-color: $color_stamina;
  height: 12px;
}

.bar.magicalRage .indicator {
  background-color: $color_mana;
  height: 12px;
}

.bar.xp .indicator {
  background-color: $color_mana;
  height: 10px;
}

.bar.small .indicator {
  height: 12px;
}

/* Hit bar */
.hitbar {
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
  background-color: rgba(255,255,255,.05);
  filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
  border-radius: 4px;
  position: relative;
}

.hitbar .wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.hitbar .wrapper.position {
  z-index: 11;
  width: 0px;
  transition: all 1s;
}

.hitbar .wrapper.position div {
  border-right: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hitbar .wrapper div {
  border-right: 1px dotted rgba(0, 0, 0, 0.22);
  flex: 1 1 0px;
}

.hitbar div.fumble {
  background: #112022 url('../pics/ui/hitBar_fumble.png') no-repeat center center;
}

.hitbar div.miss {
  background-color: #3c3c3c;
}

.hitbar div.physicalAttack.hit {
  background-color: $color_STR;
}

.hitbar div.physicalAttack.critical {
  background: $color_stamina url('../pics/ui/hitBar_critical.png') no-repeat center center;
}

.hitbar div.physicalDefend {
  background-color: $color_STR;
}

.hitbar div.magicalAttack.hit {
  background-color: $color_MAG;
}

.hitbar div.magicalAttack.critical {
  background: $color_mana url('../pics/ui/hitBar_critical.png') no-repeat center center;
}

.hitbar div.roll {
  background-color: rgba(255,255,255,.9);
  flex-basis: 10px;
  height: 10px;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 10px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.7));
}

.hitbar .wrapper > div:first-child {
  border-radius: 4px 0px 0px 4px;
}

.hitbar .wrapper > div:last-child {
  border-right: none;
  border-radius: 0px 4px 4px 0px;
}

.damage {
  color: $color_STR;
}

/* Action zone */
.actionsWrapper {
  position: relative;
  z-index: 1;
}

.actionWrapper {
  position: relative;
  margin-top: 10px;
}

/** Turn indicator in the background */
.eliteIndicator {
  position: absolute;
  width: 130%;
  opacity: .2;
  top: 50%;
  transform: translateY(-50%);
}

.eliteIndicator img {
  width: 100%;
  animation: spin 30s linear infinite;
}

/* End game screen */
.endGame {
  z-index: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background: rgba(0, 0, 0, 0.9);

  &.active {
    z-index: 200;
    opacity: 1;
    transition: opacity 3s;
  }
}