@import 'variables';
@import 'animations';

// @font-face {
//     font-family: 'pixelsix00regular';
//     src: url('../fonts/pixelsix00-webfont.woff2') format('woff2'),
//          url('../fonts/pixelsix00-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
  font-family: 'eight_bit_dragonregular';
  src: url('../fonts/eightbitdragon-anqx-webfont.woff2') format('woff2'),
       url('../fonts/eightbitdragon-anqx-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'alagard';
  src: url('../fonts/alagard.woff2') format('woff2'),
       url('../fonts/alagard.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* { 
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

ul {
    list-style-type: none;
}

textarea:focus, input:focus, button:focus{
  outline: none;
}

/* Table for debug use */ 
table tr td {
  border: 1px solid rgba(255,255,255,.1);
  padding: 5px;
  text-align: center;
}

/* Utils */
.transparent {
  opacity: .1;
  transition: opacity 700ms;
}

.half-transparent {
  opacity: .5;
  transition: opacity 700ms;
}

.third-transparent {
  opacity: .3;
  transition: opacity 700ms;
}

.position-relative {
  position: relative;
}

.smallText {
  font-size: $font_small;
}

.margin-none {
  margin: 0px !important;
}

.text-big {
  font-size: $font_big;
}

/* Main app */
html, body, #root, button {
  font-family: "alagard";
  font-size: $font_base;
  color: white;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
  /* cursor: url("../pics/ui/cursor_default.png") 10 0, auto !important; */
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  text-shadow: 1px 1px black;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  background-color: $color_body;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.monsterOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  transition: background-color 5s ease; 
}

.appWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  // max-width: 450px;
  height: 100%;
  overflow: hidden; /* Prevents side scrolling for overflowing pictures */

  &.battle {
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      z-index: 1;
      mix-blend-mode: screen;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      background: linear-gradient(0deg, #ef0505, transparent);
      pointer-events: none;
    }
    &.danger_6:before { @include animation-danger(6); }
    &.danger_7:before { @include animation-danger(7); }
    &.danger_8:before { @include animation-danger(8); }
    &.danger_9:before { @include animation-danger(9); }
    &.danger_10:before { @include animation-danger(9); }
  }
}

.vibrationWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
}

.presentationArea {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;

  &.highIndex {
    z-index: 30;
  }
}

.scrollArea {
  flex: 1;
  width: 100%;
  overflow-y: auto;

  &.highIndex {
    z-index: 30;
  }
}

.actionArea {
  max-height: 170px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 30;

  &.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  button {
    margin: 5px !important;
  }
}

/* Player area */
.playerArea {
  flex: 1;
  position: relative;
  transition: all 500ms;
  width: 100%;
  max-width: 450px;
  padding: 10px;
  margin-top: 10px;
  background: $color_button;
  border-radius: 6px;

  &.shop {
    flex: 0;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
  }
}

.playerArea.playerTurn {
  opacity: 1;
  transition: all 500ms;
}

.playerArea.opponentTurn {
  opacity: .5;
  transition: all 500ms;
}

/* Player skills */
.playerSkills {
  display: flex;
  justify-content: space-between;
  max-width: 320px;
  margin: 0 auto;
}

.playerSkills > div {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  text-align: center;
  background-color: #402d24;
  opacity: .3;
}

/* Opponent area */
.opponentWrapper {
  position: relative;
  padding: 10px;
  flex: 1;
  overflow: hidden;
  height: 100%;
  min-height: 280px;
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background:rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  transition: all 500ms;
  z-index: 2;

  &.round {
    flex: 0;
    width: 200px;
    min-width: 200px;
    height: 200px;
    min-height: 200px;
    border-radius: 50%;

    .infos {
      z-index: 101;
      bottom: 20px;
      top: auto;
      display: flex;
      justify-content: center;
    }

    .eliteIndicator {
      width: 111%;
      height: 111%;
    }
  }

  &.outline {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    filter: brightness(0.25);
  }

  // background-blend-mode: hard-light;
  // background-blend-mode: luminosity;
  background-blend-mode: soft-light;

  &.fire { background-image: url("../pics/ui/cover_fire.png"); }
  &.earth { background-image: url("../pics/ui/cover_earth.png"); }
  &.water { background-image: url("../pics/ui/cover_water.png"); }
  &.darkness { background-image: url("../pics/ui/cover_darkness.png"); }

  background-position: top center;

  &.small {
    margin: 20px auto;
    
    .portrait {
      filter: none;
    }
  }
}

.opponentWrapper.turn {
  transition: all 500ms;
  overflow: visible;
}

.opponentWrapper.turn .portrait.ready {
  opacity: 1;
  transition: all 2000ms;
  filter: drop-shadow(2px 4px 10px rgba(0,0,0,.5)) brightness(100%);
  animation: monsterAttack 1s cubic-bezier(.36,.07,.19,.97) both;
  z-index: 100;
}

.opponentWrapper.turn.static .portrait.ready {
  opacity: 1;
  transition: none;
  filter: drop-shadow(2px 4px 10px rgba(0,0,0,.5)) brightness(100%);
  animation: none;
  z-index: 100;
}

.opponentWrapper.intro .portrait.ready {
  transition: all 2000ms;
  animation: monsterIntro 3s;
}

.opponentWrapper .infos {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
}

.opponentWrapper .portrait {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 300ms;
  filter: brightness(70%);
  z-index: 0;
}

.name {
  text-align: right;
  
  .details {
    margin-top: 5px;
    font-size: $font_small;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  .status {
    margin-top: 3px;
    display: flex;
    justify-content: flex-end;

    .alteration {
      position: relative;
      height: 32px;
      width: 32px;
      margin: 0 3px;

      .counter {
        position: absolute;
        top: 0;
        right: 0;
        font-size: $font_tiny;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 6px;
        color: white;
        width: 12px;
        height: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

/* Gauge */
.bar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  position: relative;
  z-index: 1;

  &.hitPoints {
    padding: 2px;
  }
}

.bar .indicator {
  border-radius: 2px;
  transition: all 2000ms;
  box-shadow: inset 1px 1px 3px #ffffff42;
  background-color: $color_skill_energy;
}

.bar .value {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar.xp {
  background-color: rgba(252, 215, 1, .16);
  
  .indicator {
    background-color: $color_legacy;
    height: 35px;
  }
}

.bar.hitPoints .indicator {
  background-color: $color_STR;
  height: 35px;
}

.bar.magicPoints .indicator {
  background-color: $color_mana;
}

.bar.stamina .indicator {
  background-color: $color_stamina;
}

.bar.physicalRage .indicator {
  background-color: $color_stamina;
}

.bar.magicalRage .indicator {
  background-color: $color_mana;
}

/* Hit bar */
.hitbar {
  width: 100%;
  height: 30px;
  margin: 10px 0px;
  background-color: rgba(255,255,255,.05);
  filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
  border-radius: 4px;
  position: relative;
}

.hitbar .wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.hitbar .wrapper.position {
  z-index: 11;
  width: 0px;
  transition: all 1s;
}

.hitbar .wrapper.position div {
  border-right: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hitbar .wrapper div {
  border-right: 1px dotted rgba(0, 0, 0, 0.22);
  flex: 1 1 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hitbar div.fumble {
  background: #112022;
  &:before {
    top: 2px;
    left: 1px;
    margin: 0px;
  }
}

.hitbar div.miss {
  background-color: #3c3c3c;
}

.hitbar div.attack.hit {
  background-color: $color_STR;
}

.hitbar div.attack.critical {
  background: $color_stamina;
  &:before {
    top: 2px;
    margin: 0px;
  }
}

.hitbar div.block {
  background-color: $color_STR;
}

.hitbar div.cast.hit {
  background-color: $color_MAG;
}

.hitbar div.cast.critical {
  background: $color_mana;
  &:before {
    top: 2px;
    margin: 0px;
  }
}

.hitbar div.roll {
  background-color: rgba(255,255,255,.9);
  flex-basis: 10px;
  height: 10px;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 10px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.7));
}

.hitbar .wrapper > div:first-child {
  border-radius: 4px 0px 0px 4px;
}

.hitbar .wrapper > div:last-child {
  border-right: none;
  border-radius: 0px 4px 4px 0px;
}

.damage {
  color: $color_STR;
}

/* Action zone */
.actionsWrapper {
  position: relative;
  z-index: 1;
  display: flex;
}

/** Turn indicator in the background */
.eliteIndicator {
  position: absolute;
  width: 130%;
  opacity: .2;
  top: 50%;
  transform: translateY(-50%);
}

.eliteIndicator img {
  width: 100%;
  animation: spin 30s linear infinite;
}

/* End game screen */
.endGame {
  z-index: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background: rgba(0, 0, 0, 0.85);

  flex-direction: column;

  &.active {
    z-index: 200;
    opacity: 1;
    transition: opacity 3s;
  }

  .title {
    color: $color_legacy;
    font-size: $font_huge;
    margin-top: 60px;

    &.defeat {
      color: $color_itemNormal;
    }
  }

  .subtitle {
    margin: 20px 0;
    text-align: center;

    .opponentName {
      font-size: $font_verybig;
      margin: 7px;
    }
  }

  .crackedImage {
    position: relative;
    overflow: hidden;

    &:before {
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      content: url("../pics/ui/cracks.png");
      z-index: 1;
    }
  }

  img {
    z-index: 1;
    height: 350px;
    opacity: 1;

    &.death {
      width: 250px;
      height: auto;
    }
  }
}