/* Wrapper */
.statsAndItemsWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  z-index: 1;
  margin-bottom: 10px;

  .statsWrapper {
    flex: 0;
  }
}

/* Player stats */
.playerStats {
  display: flex;
  width: 100%;
  z-index: 10;
  text-shadow: 0px 0px 3px black;
  filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, 1));

  > div {
    width: 50px;
    height: 50px;
    margin: 0px 4px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-align: center;

    &:first-child { margin-left: 0px; }
    &:last-child { margin-right: 0px; }
  }

  div.down {
    color: #f51518;
    padding-right: 16px;
    background: url('../pics/ui/stat_down.png') right 2px no-repeat;
  }

  div.up {
    color: #15f515;
    padding-right: 16px;
    background: url('../pics/ui/stat_up.png') right 1px no-repeat;
  }

  span {
    font-size: 8px;
    opacity: .6;
    margin-bottom: 3px;
  }
}

/* Player items */
.playerItems {
  display: flex;
  width: 100%;

  .item_wrapper {
    margin: 0px 4px;
    
    &:first-child { margin-left: 0px; }
    &:last-child { margin-right: 0px; }
  }
}

/* Player weapons */
.playerWeapons {
  flex: 0;
  margin-left: 12px;

  .physical {
    background-color: rgba(231, 49, 59, 0.46);
    border: none;
    border-radius: 6px 6px 0 0;
  }

  .magical {
    background-color: rgba(3, 148, 171, 0.46);;
    border: none;
    border-radius: 0 0 6px 6px;
  }
}