@import 'variables';

/* Wrapper */
.statsAndItemsWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  z-index: 1;
  margin-bottom: 10px;

  .statsWrapper {
    flex: 0;
  }
}

/* Player stats */
.playerStats {
  display: flex;
  width: 100%;
  z-index: 10;
  text-shadow: 0px 0px 3px black;
  filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, 1));

  > div {
    width: 50px;
    height: 50px;
    margin: 0px 4px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-align: center;

    &:first-child { margin-left: 0px; }
    &:last-child { margin-right: 0px; }
  }

  div.down {
    color: $color_malus;
    padding-right: 16px;
    background: url('../pics/ui/stat_down.png') right 2px no-repeat;
  }

  div.up {
    color: $color_bonus;
    padding-right: 16px;
    background: url('../pics/ui/stat_up.png') right 1px no-repeat;
  }

  span {
    font-size: 8px;
    opacity: .6;
    margin-bottom: 3px;
  }
}

/* Player items */
.playerItems {
  display: flex;
  width: 100%;

  .item_wrapper {
    margin: 0px 4px;
    
    &:first-child { margin-left: 0px; }
    &:last-child { margin-right: 0px; }
  }
}

/* Player weapons */
.playerWeapons {
  flex: 0;
  margin-left: 16px;

  :first-child {
    // background-color: $color_STR;
    border-bottom: none !important;
    border-radius: 5px 5px 0 0;
  }

  :last-child {
    // background-color: $color_MAG;
    border-top: none !important;
    border-radius: 0 0 5px 5px;
  }

  .weaponQuality {
    display: block;
    margin-left: 2px;
    margin-top: 3px;
    width: 4px;
    position: absolute;
    left: 0;
    height: 100%;
    background-image: url('../pics/ui/qualitySprites.png');
    background-repeat: no-repeat;
    background-position: 0px top;

    &.physical {
      &.magic { background-position: -4px top; }
      &.rare { background-position: -8px top; }
      &.legendary { background-position: -12px top; }
    }
    &.magical {
      &.magic { background-position: -16px top; }
      &.rare { background-position: -20px top; }
      &.legendary { background-position: -24px top; }
    }
  }
}