@import 'variables';

.LogsContainer {
  position: relative;
  flex: 1;
  z-index: 1;
  max-height: 230px;

  .LogsWrapper {
    width: 100%;
    min-height: 160px;
    height: 100%;
    padding: 0px 20px;
    position: absolute;
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 10;

    > div, .log_defend, .log_attack {
      width: 100%;
    }

    .log {
      padding: 20px;
      border-radius: 10px;
    }

    &.battleStart .log,
    &.playerTurn .log {
      background: none !important;
    }

    .title {
      margin-bottom: 10px;
    }

    .message {
      font-size: 26px;
    }

    .logvalue {
      padding: 0px 5px;
    } 

    .smallMessage {
      font-size: 18px;
      margin-bottom: 5px;
    }

    .tinyMessage {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .special {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  .log_defend {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.bonusColor {
  color: $color_bonus;
}

.malusColor {
  color: $color_malus;
}