@import 'variables';

.opponentIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  z-index: 1;

  .name {
    font-size: $font_huge;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 30px 0px 10px 0px;
  }
  
  .details {
    span {
      display: inline-block;
      margin: 0 3px;
    }

    .eliteMarker {
      color: $color_elite;
    }

    .element {
      &.fire { color: $element_fire; }
      &.earth { color: $element_earth; }
      &.water { color: $element_water; }
    }
  }
}