@import 'variables';

/* Wrapper */
.statsAndItemsWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  z-index: 1;

  .statsWrapper {
    flex: 0;
  }
}

/* Player stats */
.playerStats {
  display: flex;
  width: 100%;
  z-index: 10;
  text-shadow: 0px 0px 3px black;
  filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, 1));

  > div {
    width: 50px;
    height: 50px;
    margin: 0px 4px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    font-size: $font_big;
    text-align: center;

    &:first-child { margin-left: 0px; }
    &:last-child { margin-right: 0px; }
  }

  .statWrapper {
    display: flex;
    align-items: center;
  }

  div.down {
    color: $color_malus;
    // padding-right: 16px;
    // background: url('../pics/ui/stat_down.png') right 2px no-repeat;
  }

  div.up {
    color: $color_bonus;
    // padding-right: 16px;
    // background: url('../pics/ui/stat_up.png') right 1px no-repeat;
  }

  span.char {
    font-size: $font_tiny;
    color: rgba(255,255,255,.6);
    margin-bottom: 3px;
    display: flex;
    align-items: center;
  }

  .statBuff {
    display: block;
    margin: 0px 0px 2px 2px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    
    &.up { 
      border-bottom: 6px solid $color_bonus;
      &.instant { border-bottom: 6px solid $color_instant; }
    }
    &.down { 
      border-top: 6px solid $color_malus; 
    }
  }

  // statBuff indicator variations
  .setBuff {
    position: relative;
    top: 1px;
    width: 11px;
    height: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    padding-top: 1px;
    font-size: $font_tiny;
    margin: 0px 0px 2px 3px;
  }
  .STR .setBuff { background-color: $element_fire; }
  .CON .setBuff { background-color: $element_earth; }
  .MAG .setBuff { background-color: $element_water; }
}

/* Player items */
.playerItems {
  display: flex;
  // width: 100%;

  &.marginTop {
    margin-top: 10px;
  }

  .item_wrapper {
    margin: 0px 4px;
    
    &:first-child { margin-left: 0px; }
    &:last-child { margin-right: 0px; }
  }
}

/* Player weapons */
.playerWeapons {
  flex: 0;
  margin-left: 16px;

  .item_wrapper:first-child {
    // background-color: $color_STR;
    border-bottom: none !important;
    border-radius: 5px 5px 0 0;
  }

  .item_wrapper:last-child {
    // background-color: $color_MAG;
    border-top: none !important;
    border-radius: 0 0 5px 5px;
  }
}