.bi_opponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bi_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1
}

.bi_name {
  font-size: 36px;
  display: flex;
  align-items: center;
}

.navigation {

}