@import 'variables';

@mixin buttonStyle($color) {
  background: $color;
  box-shadow: inset -1px -2px darken($color, 9), inset 1px 2px lighten($color, 9);
  &:active {
    background: darken($color,5);
    box-shadow: inset 0px 0px 0 2px darken($color, 12);
  }
}

/* Buttons */
button {
  position: relative;
  height: 46px;
  flex-basis: 25%;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.85);
  border-radius: 8px;
  @include buttonStyle(grey);

  &.disabled {
    cursor: not-allowed;
  }
  
  // Special buttons
  &.navigation {
    flex-basis: auto;
    width: 250px;
    margin: 0 auto;
  }

  &.attack {
    flex-basis: 50%;
    margin-left: 10px;
    padding: 0px 8px 0px 50px;
  }

  &.physical {
    @include buttonStyle($color_STR);
    &.disabled {
      @include buttonStyle(desaturate(darken($color_STR, 35),40));
    }
  }

  &.magical {
    @include buttonStyle($color_MAG);
    &.disabled {
      @include buttonStyle(desaturate(darken($color_MAG, 20),40));
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.buttons button.special {
  margin-left: 10px;
}

.buttons button .weapon {
  width: 48px;
  height: 42px;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons button .bar {
  background-color: rgba(0, 0, 0, 0.28);
  margin-top: 5px;
  filter: drop-shadow(0px 0px 2px rgba(0,0,0,.5));
}

.opponentButtonWrapper {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 7px black, 0px 0px 10px black;
}

.opponentButtonWrapper div:first-child {
  margin-bottom: 5px;
}

.opponentButtonWrapper div:last-child {
  font-size: 20px;
}