@import 'variables';

@mixin buttonStyle($color) {
  background: $color;
  box-shadow: inset -1px -2px darken($color, 9), inset 1px 2px lighten($color, 9);
  transition: all 200ms ease-in-out;
  &:not([disabled]):hover {
    background: lighten($color,5);
    box-shadow: inset 0px 0px 0 2px lighten($color, 12);
    transition: all 200ms ease-in-out;
  }
  &:not([disabled]):active {
    background: darken($color,5);
    box-shadow: inset 0px 0px 0 2px darken($color, 12);
    transition: all 100ms ease-in-out;
  }
}

/* Buttons */
button {
  color: white;
  position: relative;
  height: 54px;
  width: 54px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0.85);
  border-radius: 8px;
  @include buttonStyle(#192c32);
  text-shadow: 1px 1px black;

  // Embellishments
  &:before {
    display: block;
    position: absolute;
    left: 3px;
    top: -5px;
    width: 4px;
    height: 4px;
    content:url("../pics/ui/rivet.png")
  }
  &:after {
    display: block;
    position: absolute;
    right: 4px;
    bottom: 15px;
    width: 4px;
    height: 4px;
    content:url("../pics/ui/rivet.png")
  }

  &.attack:before, &.special:before { top: auto; bottom: 15px; left: 2px }
  &.attack:after, &.special:after { right: 2px }

  &.disabled, &:disabled {
    cursor: not-allowed;
  }

  &:disabled {
    opacity: .2;
  }

  .note {
    position: absolute;
    top: 5px;
    right: 3px;
    font-size: $font_tiny;
  }

  .counter {
    position: absolute;
    top: 0px;
    right: 0;
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.71);
    font-size: $font_tiny;
    border-radius: 0px 4px 0px 4px;
    border: 1px solid #260204;
    border-top: none;
    border-right: none;
  }

  .power {
    position: absolute;
    bottom: 3px;
    z-index: 1;
    font-size: $font_tiny;
    padding: 2px 4px;
    background-color: rgba(0, 0, 0, 0.32);
    border-radius: 4px;
  }
  
  // Special buttons
  &.navigation {
    flex-basis: auto;
    width: 250px;
    margin: 0 auto;
  }

  &.option {
    flex-basis: auto;
    width: auto;
    border: none;
    height: 32px;
    width: 32px;
    border-radius: 16px;
    background: none;
    border: none;
    box-shadow: none;

    img {
      position: relative;
      top: 1px;
      width: 100%;
    }
  }

  &.physical {
    @include buttonStyle($color_STR);
    &.disabled {
      @include buttonStyle(desaturate(darken($color_STR, 35),40));
    }
  }

  &.magical {
    @include buttonStyle($color_MAG);
    &.disabled {
      @include buttonStyle(desaturate(darken($color_MAG, 20),40));
    }
  }

  &.skill {
    @include buttonStyle($color_skill);
    &.disabled {
      @include buttonStyle(desaturate(darken($color_skill, 20),40));
    }
  }

  &.instant {
    @include buttonStyle($color_instant);
    &.disabled {
      @include buttonStyle(desaturate(darken($color_instant, 20),40));
    }
  }
}

.buttons {
  display: grid;
  grid-template-columns: 54px 54px 54px 54px 54px 54px;
  grid-gap: 5px;
  margin: auto;
}

.buttons button .item {
  // position: relative;
  // top: -1px;
  filter: drop-shadow(0px 0px 2px rgba(0,0,0,.4));
}

// Small bar for mana/stamina/etc
.buttons button .bar {
  box-sizing: border-box;
  width: calc(100% - 14px);
  border-radius: 4px 4px 0px 0px;
  position: absolute;
  bottom: -1px;
  background-color: rgba(0, 0, 0, 0.71);
  overflow: hidden;
  border: 1px solid #260204;
  border-bottom: none;

  .indicator {
    height: 6px;
    border-radius: 0;
  }
}
