@import 'variables';

@mixin buttonStyle($color) {
  background: $color;
  box-shadow: inset -1px -2px darken($color, 9), inset 1px 2px lighten($color, 9);
  transition: all 200ms ease-in-out;
  &:not([disabled]):hover {
    background: lighten($color,5);
    box-shadow: inset 0px 0px 0 2px lighten($color, 12);
    transition: all 200ms ease-in-out;
  }
  &:not([disabled]):active {
    background: darken($color,5);
    box-shadow: inset 0px 0px 0 2px darken($color, 12);
    transition: all 100ms ease-in-out;
  }
}

/* Buttons */
button {
  color: white;
  position: relative;
  height: 54px;
  flex-basis: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0.85);
  border-radius: 8px;
  @include buttonStyle(#192c32);
  text-shadow: 1px 1px black;

  &.disabled, &:disabled {
    cursor: not-allowed;
  }

  &:disabled {
    opacity: .2;
  }

  .note {
    position: absolute;
    top: 5px;
    right: 3px;
    font-size: 8px;
  }
  
  // Special buttons
  &.navigation {
    flex-basis: auto;
    width: 250px;
    margin: 0 auto;
  }

  &.option {
    flex-basis: auto;
    width: auto;
    border: none;
    height: 32px;
    width: 32px;
    border-radius: 16px;
    background: none;
    border: none;
    box-shadow: none;

    img {
      position: relative;
      top: 1px;
      width: 100%;
    }
  }

  &.physical {
    @include buttonStyle($color_STR);
    &.disabled {
      @include buttonStyle(desaturate(darken($color_STR, 35),40));
    }
  }

  &.magical {
    @include buttonStyle($color_MAG);
    &.disabled {
      @include buttonStyle(desaturate(darken($color_MAG, 20),40));
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons button {
  margin: 3px;
}

.buttons button .item {
  // position: relative;
  // top: -1px;
  filter: drop-shadow(0px 0px 2px #252624);
}

// Small bar for mana/stamina/etc
.buttons button .bar {
  width: 36px;
  border-radius: 4px 4px 0px 0px;
  position: absolute;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.71);
  overflow: hidden;
  border: 1px solid #260204;
  border-bottom: none;

  .indicator {
    height: 5px;
    border-radius: 0;
  }
}

.opponentButtonWrapper {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 7px black, 0px 0px 10px black;
}

.opponentButtonWrapper div:first-child {
  margin-bottom: 5px;
}

.opponentButtonWrapper div:last-child {
  font-size: 20px;
}