@import 'variables';

.legacyTitle {
  text-align: center;
  margin: 20px 0px;
  line-height: 19px;

  &.small {
    font-size: $font_small;
  }

  .legacyCount {
    padding: 5px;
    color: $color_legacy;

    &.big {
      font-size: $font_verybig;
      display: block;
      padding: 10px;
    }
  }
}

.lootBox.new .item_wrapper {
  border-color: $color_legacy !important;
  transition: background-color 300ms;
}

.lootBox.weapons .characName {
  opacity: 0;
}