@import 'variables';

label {
  display: block;
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
}

input {
  width: 300px;
  height: 46px;
  border: 2px solid rgba(0, 0, 0, 0.85);
  font-family: "alagard";
  text-align: center;
  color: white;
  background-color: #192c32;
  border-radius: 8px;
  font-size: $font_base;
  padding: 0px 10px;
}

.legacyColor {
  color: $color_legacy;
}

.physicalColor {
  color: $color_STR;
}

.magicalColor {
  color: $color_MAG;
}

.profileSelector {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: 10px;

  button {
    flex-basis: 31%;
    font-size: $font_small;
  }
}

.profileStats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  .playerStats {
    width: auto;
  }
}

.profileWeapons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  margin-top: 10px;

  .weapons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    .weapon {
      display: flex;
      align-items: center;
      flex-basis: 50%;

      .info {
        font-size: $font_tiny;
        line-height: $font_tiny - 4;
        margin-top: 8px;
      }

      &:first-child {
        justify-content: flex-end;
        text-align: right;
        .item_wrapper {
          margin: 5px 7px 5px 15px;
        }
      }

      &:last-child {
        justify-content: flex-start;
        .item_wrapper {
          margin: 5px 15px 5px 7px;
        }
      }

      
    }

  }

  .legacy {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .item_wrapper {
        margin: 5px;
      }
    }
  }
}