label {
  display: block;
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
}

input {
  width: 300px;
  height: 46px;
  border: 2px solid rgba(0, 0, 0, 0.85);
  font-family: "eight_bit_dragonregular";
  color: white;
  background-color: #192c32;
  border-radius: 8px;
  font-size: 16px;
  padding: 0px 10px;
}

.profileSelector {
  display: flex;
  justify-content: space-between;
  width: 300px;

  button {
    flex-basis: 31%;
    font-size: 10px;
  }
}

.profileStats {
  width: 300px;
  display: flex;
  justify-content: center;
  
  .playerStats {
    width: auto;
  }
}

.profileWeapons {
  display: flex;
  justify-content: space-between;
  width: 300px;

  .weapons {
    flex-basis: 50%;;
    display: flex;
    flex-direction: column;
    margin-right: 5px;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .item_wrapper {
        margin: 5px;
      }
    }
  }

  .legacy {
    flex-basis: 50%;;
    display: flex;
    flex-direction: column;
    margin-left: 5px;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .item_wrapper {
        margin: 5px;
      }
    }
  }
}