@import 'variables';

@mixin itemStyle($color) {
  border: 2px solid rgba($color, 1);
  background-color: rgba($color, .6);
  box-shadow: inset 0px 0px 8px rgba(241, 241, 241, 0.1);
  box-shadow: inset 0px 0px 5px darken(rgba($color, 1),30);
  .item {
    filter: drop-shadow(0px 0px 2px darken(rgba($color, 1),30));
  }
}

/* Items */
.item_wrapper {
  position: relative;
  width: 50px;
  height: 50px;
  font-size: $font_tiny;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  text-align: center;
  @include itemStyle($color_itemNormal);

  &.magic { 
    @include itemStyle($color_itemMagic);
    .element {
      @include itemStyle($color_itemMagic);
    }
  }
  &.rare { 
    @include itemStyle($color_itemRare);
    .element {
      @include itemStyle($color_itemRare);
    }
  }
  &.legendary { 
    @include itemStyle($color_itemLegendary);
    .element {
      @include itemStyle($color_itemLegendary);
    }
  }

  .element {
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    position: absolute;
    left: -7px;
    border-radius: 6px;
    // transform: rotate(45deg);
    box-shadow: inset 0px 0px 1px 1px #00000094 !important;
    @include itemStyle($color_itemNormal);

    &.fire { background: radial-gradient(circle at 40% 25%, yellow 6%, $element_fire 60%) !important; }
    &.earth { background: radial-gradient(circle at 40% 25%, lightgreen 6%, $element_earth 60%) !important; }
    &.water { background: radial-gradient(circle at 40% 25%, #42cbff 6%, $element_water 60%) !important; }
  }
}

.itemCost {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 4px;
  font-size: $font_tiny;
}

.itemCost.magical {
  color: lighten($color_MAG, 20);
}

.itemCost.physical {
  color: lighten($color_STR, 20);
}

.item {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: 32px;

  &.small {
    width: 16px;
    height: 16px;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: 16px;
  }

  &.big {
    width: 64px;
    height: 64px;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: 64px;
  }
}

/** Items lists **/
$forge: (
  "amulet": 43, 
  "armor": 194, 
  "axe": 120,
  "bag": 12,
  "belt": 2,
  "book":25,
  "bow":28,
  "coin": 12,
  "coins": 12,
  "cross": 36,
  "crystal": 12,
  "drops": 21,
  "flail": 26,
  "food": 72,
  "gem": 13,
  "glove": 11,
  "hammer": 36,
  "helmet": 181,
  "mace": 71,
  "morningstar": 23,
  "potion": 70,
  "ring": 20,
  "sceptre": 22,
  "shield": 145,
  "shoe": 44,
  "skill": 17,
  "spell": 48,
  "sword": 162,
  "vial": 8,
  "wand": 18
);

@each $item, $count in $forge {
  @for $i from 1 through $count { .item.#{$item}_#{$i} { background-image: url('../pics/items/#{$item}/#{$item}_#{$i}.png'); } }
}