/* Items */
.item {
  width: 32px;
  height: 32px;
  margin-bottom: 2px;
  background-repeat: no-repeat;
  background-size: 32px;
}

.item.small {
  width: 16px;
  height: 16px;
  margin: 0px;
  background-repeat: no-repeat;
  background-size: 16px;
}

.item.axe_1 { background-image: url('../pics/items/axes/axe_1.png'); }
.item.axe_2 { background-image: url('../pics/items/axes/axe_2.png'); }
.item.axe_3 { background-image: url('../pics/items/axes/axe_3.png'); }
.item.axe_4 { background-image: url('../pics/items/axes/axe_4.png'); }
.item.axe_5 { background-image: url('../pics/items/axes/axe_5.png'); }
.item.axe_6 { background-image: url('../pics/items/axes/axe_6.png'); }
.item.axe_7 { background-image: url('../pics/items/axes/axe_7.png'); }
.item.axe_8 { background-image: url('../pics/items/axes/axe_8.png'); }
.item.axe_9 { background-image: url('../pics/items/axes/axe_9.png'); }
.item.axe_10 { background-image: url('../pics/items/axes/axe_10.png'); }

.item.ring_1 { background-image: url('../pics/items/rings/ring_1.png'); }
.item.ring_2 { background-image: url('../pics/items/rings/ring_2.png'); }
.item.ring_3 { background-image: url('../pics/items/rings/ring_3.png'); }
.item.ring_4 { background-image: url('../pics/items/rings/ring_4.png'); }
.item.ring_5 { background-image: url('../pics/items/rings/ring_5.png'); }
.item.ring_6 { background-image: url('../pics/items/rings/ring_6.png'); }
.item.ring_7 { background-image: url('../pics/items/rings/ring_7.png'); }
.item.ring_8 { background-image: url('../pics/items/rings/ring_8.png'); }
.item.ring_9 { background-image: url('../pics/items/rings/ring_9.png'); }
.item.ring_10 { background-image: url('../pics/items/rings/ring_10.png'); }

.item.shield_1 { background-image: url('../pics/items/shields/shield_1.png'); }
.item.shield_2 { background-image: url('../pics/items/shields/shield_2.png'); }
.item.shield_3 { background-image: url('../pics/items/shields/shield_3.png'); }
.item.shield_4 { background-image: url('../pics/items/shields/shield_4.png'); }
.item.shield_5 { background-image: url('../pics/items/shields/shield_5.png'); }
.item.shield_6 { background-image: url('../pics/items/shields/shield_6.png'); }
.item.shield_7 { background-image: url('../pics/items/shields/shield_7.png'); }
.item.shield_8 { background-image: url('../pics/items/shields/shield_8.png'); }
.item.shield_9 { background-image: url('../pics/items/shields/shield_9.png'); }
.item.shield_10 { background-image: url('../pics/items/shields/shield_10.png'); }

.item.amulet_1 { background-image: url('../pics/items/amulets/amulet_1.png'); }
.item.amulet_2 { background-image: url('../pics/items/amulets/amulet_2.png'); }
.item.amulet_3 { background-image: url('../pics/items/amulets/amulet_3.png'); }
.item.amulet_4 { background-image: url('../pics/items/amulets/amulet_4.png'); }
.item.amulet_5 { background-image: url('../pics/items/amulets/amulet_5.png'); }
.item.amulet_6 { background-image: url('../pics/items/amulets/amulet_6.png'); }
.item.amulet_7 { background-image: url('../pics/items/amulets/amulet_7.png'); }
.item.amulet_8 { background-image: url('../pics/items/amulets/amulet_8.png'); }
.item.amulet_9 { background-image: url('../pics/items/amulets/amulet_9.png'); }
.item.amulet_10 { background-image: url('../pics/items/amulets/amulet_10.png'); }


.item.coins_5 { background-image: url('../pics/items/coins/coins_5.png'); }
.item.magic_2 { background-image: url('../pics/items/magic/magicweapon_2.png'); }