/* Items */
.item {
  width: 32px;
  height: 32px;
  margin-bottom: 2px;
  background-repeat: no-repeat;
  background-size: 32px;
}

.item.axe_3 { background-image: url('../pics/items/axes/axe_3.png'); }
.item.shield_14 { background-image: url('../pics/items/shields/shield_14.png'); }
.item.ring_10 { background-image: url('../pics/items/rings/ring_10.png'); }
.item.magic_2 { background-image: url('../pics/items/magic/magicweapon_2.png'); }
.item.amulet_6 { background-image: url('../pics/items/amulets/amulet_6.png'); }