@import 'variables';
@import 'mixins';


/* Items */
.item_wrapper {
  position: relative;
  width: 50px;
  height: 50px;
  font-size: $font_tiny;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  text-align: center;
  @include itemStyle($color_itemNormal);

  &.magic { 
    @include itemStyle($color_itemMagic);
    .element {
      @include itemStyle($color_itemMagic);
    }
  }
  &.rare { 
    @include itemStyle($color_itemRare);
    .element {
      @include itemStyle($color_itemRare);
    }
  }
  &.legendary { 
    @include itemStyle($color_itemLegendary);
    .element {
      @include itemStyle($color_itemLegendary);
    }
  }
  &.unique {

    &:after {
      content: "";
      background: url('../pics/ui/sigil.svg'); 
      opacity: 0.3;
      background-size: 70px;
      background-position: center center;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;   
    }

    &.glow_fire { 
      @include itemStyle($element_fire, "unique");
      filter: drop-shadow(0px 0px 8px saturate(lighten($element_fire, 10), 30));
      .element { @include itemStyle($element_fire); }
    }
    &.glow_water { 
      @include itemStyle($element_water, "unique"); 
      filter: drop-shadow(0px 0px 8px saturate(lighten($element_water, 10), 30));
      .element { @include itemStyle($element_water); }
    }
    &.glow_earth { 
      @include itemStyle($element_earth, "unique"); 
      filter: drop-shadow(0px 0px 8px saturate(lighten($element_earth, 10), 30));
      .element { @include itemStyle($element_earth); }
    }
    &.glow_light { 
      @include itemStyle($element_light, "unique"); 
      filter: drop-shadow(0px 0px 8px saturate(lighten($element_light, 10), 30));
      .element { @include itemStyle($element_light); }
    }
    &.glow_darkness { 
      @include itemStyle($element_darkness, "unique"); 
      filter: drop-shadow(0px 0px 8px saturate(lighten($element_darkness, 10), 30));
      .element { @include itemStyle($element_darkness); }
    }
  }

  .element {
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    position: absolute;
    left: -7px;
    border-radius: 6px;
    // transform: rotate(45deg);
    box-shadow: inset 0px 0px 1px 1px #00000094 !important;
    @include itemStyle($color_itemNormal);

    &.fire { background: radial-gradient(circle at 40% 25%, yellow 6%, $element_fire 60%) !important; }
    &.earth { background: radial-gradient(circle at 40% 25%, lightgreen 6%, $element_earth 60%) !important; }
    &.water { background: radial-gradient(circle at 40% 25%, #42cbff 6%, $element_water 60%) !important; }
    &.light { background: radial-gradient(circle at 40% 25%, $element_light 6%, darken($element_light, 40) 60%) !important; }
    &.darkness { background: radial-gradient(circle at 40% 25%, lighten($element_darkness, 30) 6%, $element_darkness 60%) !important; }
  }
}

.itemCost {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 4px;
  font-size: $font_tiny;
  z-index: 1;
}

.itemAlteration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 6px;
  top: 0px;
  right: -4px;

  .markWrapper {
    margin: 1px;

    .mark {
      width: 4px;
      height: 4px;
      transform: rotate(45deg);
      background-color: $color_legacy !important;
      @include itemStyle($color_itemNormal);
      box-shadow: none;
      border-width: 1px;;
    }
  }
}

.itemAdvantage {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  z-index: 1;

  &.up { background-color: $color_bonus; }
  &.down { background-color: $color_malus; }
}

.itemCost.magical {
  color: lighten($color_MAG, 20);
}

.itemCost.physical {
  color: lighten($color_STR, 20);
}

.text_glow_fire { filter: drop-shadow(0px 0px 3px lighten($element_fire, 10)) drop-shadow(0px 0px 5px lighten($element_fire, 10)); }
.text_glow_earth { filter: drop-shadow(0px 0px 3px lighten($element_earth, 10)) drop-shadow(0px 0px 5px lighten($element_earth, 10)); }
.text_glow_water { filter: drop-shadow(0px 0px 3px lighten($element_water, 10)) drop-shadow(0px 0px 5px lighten($element_water, 10)); }
.text_glow_light { filter: drop-shadow(0px 0px 3px lighten($element_light, 10)) drop-shadow(0px 0px 5px lighten($element_light, 10)); }
.text_glow_darkness { filter: drop-shadow(0px 0px 3px lighten($element_darkness, 10)) drop-shadow(0px 0px 5px lighten($element_darkness, 10)); }

.item {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: 32px;

  &.small {
    width: 16px;
    height: 16px;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: 16px;
  }

  &.big {
    width: 64px;
    height: 64px;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: 64px;
  }
}

/** Items lists **/
$forge: (
  "amulet": 42, 
  "armor": 192, 
  "axe": 119,
  "bag": 11,
  "belt": 1,
  "book":24,
  "bow":27,
  "coin": 11,
  "coins": 11,
  "cross": 35,
  "crystal": 11,
  "drops": 20,
  "flail": 25,
  "food": 44,
  "gem": 12,
  "glove": 10,
  "hammer": 35,
  "helmet": 180,
  "mace": 70,
  "morningstar": 22,
  "potion": 69,
  "ring": 19,
  "sceptre": 21,
  "shield": 144,
  "shoe": 43,
  "skill": 17,
  "spell": 47,
  "sword": 161,
  "throw": 33,
  "tool": 11,
  "unique": 84,
  "vial": 7,
  "wand": 17
);

@each $item, $count in $forge {
  @for $i from 0 through $count { .item.#{$item}_#{$i} { background-image: url('../pics/items/#{$item}/#{$item}_#{$i}.png'); } }
}