@import 'variables';

@mixin itemStyle($color) {
  border: 1px solid rgba($color, .8);
  background-color: rgba($color, .3);
}

/* Items */
.item_wrapper {
  position: relative;
  width: 50px;
  height: 50px;
  font-size: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  text-align: center;
  box-shadow: inset 0px 0px 8px rgba(241, 241, 241, 0.08);
  @include itemStyle($color_itemNormal);

  &.magic { 
    @include itemStyle($color_itemMagic);
  }
  &.rare { 
    @include itemStyle($color_itemRare);
  }
  &.legendary { 
    @include itemStyle($color_itemLegendary);
  }
}

.itemCost {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 4px;
  font-size: 8px;
}

.itemCost.magical {
  color: lighten($color_MAG, 20);
}

.itemCost.physical {
  color: lighten($color_STR, 20);
}

.item {
  width: 32px;
  height: 32px;
  margin-bottom: 2px;
  background-repeat: no-repeat;
  background-size: 32px;

  &.small {
    width: 16px;
    height: 16px;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: 16px;
  }
}

/** Items lists **/
$forge: (
  "amulet": 43, 
  "armor": 194, 
  "axe": 120,
  "bag": 12,
  "belt": 2,
  "book":25,
  "bow":28,
  "coin": 12,
  "coins": 12,
  "cross": 36,
  "crystal": 12,
  "flail": 26,
  "gem": 13,
  "glove": 11,
  "hammer": 36,
  "helmet": 181,
  "mace": 71,
  "morningstar": 23,
  "potion": 60,
  "ring": 20,
  "sceptre": 22,
  "shield": 145,
  "shoe": 44,
  "sword": 162,
  "vial": 8,
  "wand": 18
);

@each $item, $count in $forge {
  @for $i from 1 through $count { .item.#{$item}_#{$i} { background-image: url('../pics/items/#{$item}/#{$item}_#{$i}.png'); } }
}