@mixin buttonStyle($color) {
  background: $color;
  box-shadow: inset -1px -2px darken($color, 9), inset 1px 2px lighten($color, 9);
  transition: all 200ms ease-in-out;
  &:not([disabled]):hover {
    background: lighten($color,5);
    box-shadow: inset 0px 0px 0 2px lighten($color, 12);
    transition: all 200ms ease-in-out;
  }
  &:not([disabled]):active {
    background: darken($color,5);
    box-shadow: inset 0px 0px 0 2px darken($color, 12);
    transition: all 100ms ease-in-out;
  }
}

@mixin itemStyle($color, $type: null) {
  border: 2px solid rgba($color, 1);
  @if $type == null {
    background-color: rgba($color, .2);
  }
  @else {
    background-color: rgba($color, .5);
  }
  box-shadow: inset 0px 0px 8px rgba(241, 241, 241, 0.1);
  box-shadow: inset 0px 0px 5px darken(rgba($color, 1),30);
  .item {
    filter: drop-shadow(0px 0px 2px darken(rgba($color, 1),30));
  }
}