@import 'variables';

.modalWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 101;

  .modal {
    // height: 100%;
    max-height: 700px;
    max-width: 400px;
    overflow-y: auto;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    padding: 20px;
    background-color: rgba($color_body, .8);
    border: 2px solid rgba($color_body, 1);

    #closeModal {
      position: fixed;
      top: 15px;
      right: 15px;
    }
  }
}