@import 'variables';
@import 'mixins';

.releaseNotes {
  padding: 20px;

  .separator {
    margin: 20px;
  }

  .pagetitle {
    font-size: $font_verybig;
    color: $color_legacy;
  }

  .notes {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 30px 2px;
    top: 0;
    left: 0;
    height: calc(100% - 170px);
    width: 100%;
    overflow-y: auto;
  }

  .note {
    @include itemStyle($color_itemNormal);
    max-width: 450px;
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 30px;

    .title {
      font-size: $font_big;
      color: $color_itemLegendary;
      margin-bottom: 5px;
    }

    .date {
      font-size: $font_small;
      margin-bottom: 20px;
    }

    .reset {
      padding-left: 42px;
      min-height: 30px;
      display: flex;
      align-items: center;
      font-size: $font_small;
      margin-bottom: 20px;
      background-image: url('../pics/ui/death.png'); 
      background-position: left center;
      background-repeat: no-repeat;
      color: rgba(255,255,255,.6);
    }

    .description {
      line-height: 22px;
    }

    ul.changesList {
      padding: 0px;
      margin: 20px 0px 0px 0px;

      li {
        display: flex;
        align-items: center;
        font-size: $font_small;
        margin-top: 10px;
        padding-left: 20px;
        background-image: url('../pics/ui/d6.png'); 
        background-position: left center;
        background-repeat: no-repeat;
        color: rgba(255,255,255,.6);
      }
    }
  }
}