// Body color
$color_body: #03181f;
// Combat system
$color_STR: #e7323b;
$color_MAG: #0494ab;
$color_stamina: adjust-hue($color_STR, 30); //#ce6d0a
$color_mana: adjust-hue($color_MAG, -30); //#01a972
$color_skill: #5e9273; //#01a972
$color_skill_energy: adjust-hue($color_skill, -80); //#01a972
// Elements
$element_fire: red;
$element_earth: #004e00;
$element_water: #00139e;
// Elite monster label
$color_elite: #ff7847;
// Up/down arrows
$color_malus: #f51518;
$color_bonus: #15f515;
// Item quality
$color_itemNormal: #73746f;
$color_itemMagic: #125fa7;
$color_itemRare: #9c3db3;
$color_itemLegendary: #de5e05;
$color_legacy: #FFD700;

// Font sizes
$font_huge: 50px;
$font_verybig: 26px;
$font_big: 22px;
$font_base: 18px;
$font_small: 14px;
$font_tiny: 10px;