@import 'variables';
@import 'mixins';

.shopWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;

  &.panelStore {
    padding: 5px;
    border-radius: 6px;
    background: $color_button;
    width: 100%;
    max-width: 450px;

    .panelStoreTabs {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 5px;

      button {
        font-size: $font_small;
        flex-direction: column;
        flex-basis:calc(25% - 5px);
        height: 80px;

        .item {
          margin: 5px;
          // filter: grayscale(1);
        }
  
        &.on { @include buttonStyle(lighten($color_button, 13)); }
        &.off { @include buttonStyle(darken($color_button, 5)); }
      }
    }
  }

  span.title {
    display: block;
    margin-bottom: 10px;
    z-index: 2;
  }

  span.subtitle {
    display: block;
    margin: 15px 0px;
    font-size: $font_small;
  }

  .lootBoxes {
    z-index: 2;

    &.itemBox {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .storeBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 200px;
    width: 100%;

    .storeItemWrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 4px;
    }

    .overburden {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 1; 
      font-size: $font_tiny;

      .item { margin-bottom: 5px;}
    }

    .storeItem {
      width: auto;
      height: auto;
      flex-direction: column;
      padding: 5px;
      text-align: center;
      cursor: pointer;
    }
  }

  .lootBox {
    display: flex; 
    align-items: center;

    &:first-child .storeWrapper {
      border-radius: 5px 7px 0px 0px;
    }

    &:last-child .storeWrapper {
      border-radius: 0px 0px 7px 7px;
    }

    &:only-child .storeWrapper {
      border-radius: 7px;
    }

    .storeWrapper {
      padding: 7px 6px 7px 6px;
      margin-left: 10px;
      margin-right: 10px;
      background-color: rgba($color: white, $alpha: 0.1);
    }

    .actions {
      display: flex;
      margin-left: 5px;
      width: 150px;

      button {
        flex-basis: 50%;
        margin-left: 5px;
        text-align: center;

        .item {
          margin-right: 10px;
        }

        div {
          display: inline-block;
        }
      }
    }

    &.lootItemWrapper {
      flex-direction: column;
      margin: 5px;
      padding: 10px 5px 5px 5px;
      background-color: $color_button;
      border-radius: 6px;

      .item_wrapper {
        margin-bottom: 5px;
      }

      button {
        width: 70px;
        height: 40px;
        font-size: $font_small;
        margin-top: 5px;

        span {
          margin-right: 4px;
        }
      }
    }
  }

  img {
    position: absolute;
    z-index: 1;
    mix-blend-mode: luminosity;
    height: 400px;
    opacity: .1
  }

  &.shop .lootBox .actions {
    width: 100px;
    button {
      flex-basis: 100%;
    }
  }
}

.goldLootWrapper {
    display: flex;
    margin: 10px 0px;

    .goldLoot {
      display: flex;
      align-items: center;

      .item { margin-right: 5px; }
    }

    .goldLoot, .goldLoot.total {
      margin: 0px;
    }
  }

  .goldLoot {
    padding: 7px;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;

    &.noMargin {
      margin-top: 0px;
    }

    &.total {
      margin: 5px 0px 0px 0px;
    }

    .item_wrapper {
      width: 120px;
      flex-direction: row;
      font-size: $font_big;

      .item {
        margin-right: 10px
      }
    }
  }

.itemPrice {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
  height: 25px;
  font-size: $font_small;

  .item {
    position: relative;
    top: -1px;
    margin-right: 3px !important;
  }
}