@import 'variables';

.wideScreen .appWrapper {
  max-width: 100%;
}

.welcomeArt {
  width: 100%;
  overflow: hidden;
}

.optionsWrapper {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px;
    z-index: 40;
    display: flex;
    flex-direction: row-reverse;
    button {
      margin-left: 10px;
    }
}

.homeSigil {
  position: absolute;
  width: 120%;
  max-width: 560px;
  opacity: .1;
  top: 20%;
  transform: translateY(-34%);

  img {
    animation: spin 30s linear infinite;
  }
}

.gradient {
  width: 100%;
  height: 100%;
  z-index: 11;
  position: absolute;
  top: 0px;
  background: linear-gradient(transparent 10%, #03181f 100% );
}

.fog {
  width: 100%;
  height: 300px;
  z-index: 13;
  position: absolute;
  bottom: 0;
  background: url('../pics/ui/fog.png') repeat-x left bottom;
  background-size: cover;
  opacity: 1;
  animation: bg-slide 50s linear infinite;
}

.smoke {
  width: 100%;
  height: 500px;
  z-index: 12;
  position: absolute;
  bottom: 0;
  background: url('../pics/ui/smoke.png') repeat-x left bottom;
  background-size: cover;
  opacity: 1;
  animation: bg-slide-wide 200s linear infinite;
  mix-blend-mode: color-dodge;
}

.coverArt {
max-width: 570px;
  width: 120%;
  z-index: 10;
  position: absolute;
  filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.3));
  top: -6%;
}

.logoWrapper {
  z-index: 30;
  position: absolute;
  bottom: 0px;
  width: 312px;
  height: 219px;

  .logoCombine{ 
    position: relative;
    .logo, .logo2 {
      position: absolute;
    }
    .logo {
      filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.6));
    }
    .logo2 {
      animation: glow (30s) infinite;
    }
    span {
      text-align: center;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      font-size: 60px;
      padding-top: 90px;
    }
  }
}

.version {
  position: absolute;
  bottom: 8px;
  font-size: $font_tiny;
  opacity: .2;
}