@import 'variables';

.wideScreen .appWrapper {
  max-width: 100%;
}

.welcomeArt {
  width: 100%;
  overflow: hidden;
}

.optionsWrapper {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px;
    z-index: 40;
    display: flex;
    flex-direction: row;
}

.homeSigil {
  position: absolute;
  width: 120%;
  max-width: 560px;
  opacity: .1;
  top: 20%;
  transform: translateY(-34%) translate3d(0, 0, 0);

  img {
    will-change: transform;
    animation: spin 30s linear infinite;
  }
}

.gradient {
  width: 100%;
  height: 100%;
  z-index: 11;
  position: absolute;
  top: 0px;
  background: linear-gradient(transparent 10%, #03181f 100% );
}

.fogWrapper {
  width: 100%;
  height: 100%;
  z-index: 12;
  position: relative; 
  bottom: 0;
  overflow: hidden;

  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  animation: flash 7s linear infinite;
  animation-delay: 10s;

  .fog {
    z-index: 13;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 300px;
    width: 4050px;

    background: url('../pics/ui/fog.png') repeat-x left bottom;
    background-size: cover;
    opacity: .9;
    animation: moveSlideshow 45s linear infinite;
    transform: translate3d(0, 0, 0);
  }
  
  .smoke {
    width: 6750px;
    height: 500px;
    z-index: 12;
    position: absolute;
    bottom: 0;
    background: url('../pics/ui/smoke.png') repeat-x left bottom;
    background-size: cover;
    opacity: .7;
    animation: moveSlideshowLong 100s linear infinite;
    // mix-blend-mode: color-dodge;
    transform: translate3d(0, 0, 0);
  }
}


.coverArt {
max-width: 570px;
  width: 120%;
  z-index: 10;
  position: absolute;
  filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.3));
  top: -6%;
}

.logoWrapper {
  z-index: 30;
  position: absolute;
  bottom: 0px;
  width: 312px;
  height: 219px;

  .logoCombine{ 
    position: relative;
    .logo, .logo2 {
      position: absolute;
    }
    .logo {
      filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.6));
    }
    .logo2 {
      // animation: glow (30s) infinite;
      filter: drop-shadow(0px 0px 30px #fc266b) drop-shadow(0px 0px 40px #fc266b);
    }
    span {
      text-align: center;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      font-size: 60px;
      padding-top: 90px;
    }
  }
}

.credits {
  p {
    a {
      color: white;
    }
  }

  .separator {
    width: 92px;
    height: 32px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../pics/ui/attackskull.png");
  }

  .title {
    font-size: $font_big;
    margin: 30px 0px 0px 0px;
    opacity: .7;
    color: $element_elite;
  }
}

.version {
  position: absolute;
  bottom: 8px;
  font-size: $font_tiny;
  opacity: .2;
}