@import 'variables';

@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width:  $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%; 
  list-style: none;       
  
  > * {
    display: block;
    position: absolute;
    top:  50%; 
    left: 50%;
    width:  $item-size;
    height: $item-size;
    margin: -($item-size / 2);
    z-index: 2;
  
    $angle: (360 / $item-count);
    $rot: 0;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: 
          rotate($rot * 1deg) 
          translate($circle-size / 2) 
          rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
  }
}

.circle-container {
  @include on-circle($item-count: 8, $circle-size: 120px, $item-size: 32px); 
  margin: 0;
  position: absolute;
  border: 5px solid $color_skill;
  
  img { 
    display: block; 
    max-width: 100%; 
  }
}

.wheelWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 100%;
  margin: 15px 0px;
}

.needleWrapper {
  position: relative;
  padding: 0;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  flex-shrink: 0;
  list-style: none;
  overflow: hidden;
  transform: rotate(22.5deg);
  z-index: 1;

  li {
    overflow: hidden;
    position: absolute;
    top: -50%;
    right: -50%;
    width: 100%;
    height: 100%;
    transform-origin: 0% 100%;
  }

  li:first-child {
    transform: rotate(0deg) skewY(135deg);
  }

  li:nth-child(2) {
    transform: rotate(45deg) skewY(135deg);
  }

  li:nth-child(3) {
    transform: rotate(90deg) skewY(135deg);
  }

  li:nth-child(4) {
    transform: rotate(135deg) skewY(135deg);
  }

  li:nth-child(5) {
    transform: rotate(180deg) skewY(135deg);
  }

  li:nth-child(6) {
    transform: rotate(225deg) skewY(135deg);
  }

  li:nth-child(7) {
    transform: rotate(270deg) skewY(135deg);
  }

  li:nth-child(8) {
    transform: rotate(315deg) skewY(135deg);
    background: linear-gradient(45deg, $color_skill, white 30%);
  }
}