@font-face {
    font-family: 'pixelsix00regular';
    src: url('./fonts/pixelsix00-webfont.woff2') format('woff2'),
         url('./fonts/pixelsix00-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'eight_bit_dragonregular';
  src: url('./fonts/eightbitdragon-anqx-webfont.woff2') format('woff2'),
       url('./fonts/eightbitdragon-anqx-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Main app */
html, body, #root {
  height: 100%;
  width: 100%;
  font-family: "eight_bit_dragonregular";
  font-size: 12px;
  color: white;
  text-shadow: 1px 1px black;
  image-rendering: pixelated;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #112022;
  box-shadow: inset 0px 0px 60px 0px #00000052;
}

.appWrapper {
  display: flex;
  flex-direction: column;
}

/* Player info on top */
.playerInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Player stats */
.playerStats {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.playerStats div {
  width: 50px;
  height: 40px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-align: center;
}

.playerStats span {
  font-size: 8px;
  opacity: .6;
  margin-bottom: 3px;
}

/* Player items */
.playerItems {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.playerItems > div {
  width: 50px;
  height: 50px;
  font-size: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  text-align: center;
  background-color: #20373e;
  box-shadow: inset 0px 0px 8px rgba(241, 241, 241, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.89);
  /* box-shadow: -1px -1px 1px rgba(241, 241, 241, 0.3), 1px 1px 1px rgba(27, 66, 61, 0.3); */
}

/* Opponent area */
.opponentWrapper {
  position: relative;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #0a100f;
  border-radius: 5px;
}

.opponentWrapper.turn {
  transition: all 250ms;
  /* transform: scale(1.05); */
  box-shadow: 0px 0px 20px rgba(255, 43, 43, 0.3);
}

.opponentWrapper .infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.opponentWrapper .portrait {
  width: 128px;
  height: 128px;
  background: url('./pics/opponents/Portraits_03.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.opponentWrapper .name {
  font-size: 18px;
  margin: 10px 0px;
}

/* Gauge */
.playerGaugeWrapper {
  display: flex;
  margin-bottom: 10px;
}

.playerGaugeWrapper > div {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.playerGaugeWrapper > div:first-child {
  padding-right: 5px;
}
.playerGaugeWrapper > div:last-child {
  padding-left: 5px;
}

.playerGauge {
  width: 100%;
  margin-bottom: 5px;
  background-color: #20373e;
  border-radius: 4px;
  display: flex;
  position: relative;
}

.playerGauge .indicator {
  border-radius: 4px;
  transition: all 2000ms;
}

.playerGauge .value {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
}

.playerGauge.hitPoints .indicator {
  background-color: #e7323b;
  height: 20px;
}

.playerGauge.magicPoints .indicator {
  background-color: #0494ab;
  height: 20px;
}

.playerGauge.physicalRage .indicator {
  background-color: #ce6d0a;
  height: 12px;
}

.playerGauge.magicalRage .indicator {
  background-color: #01a972;
  height: 12px;
}

.playerGauge.small .indicator {
  height: 12px;
}

.LogsWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0,0,0,.8);
  box-shadow: inset 0px 0px 60px 0px #00000052;
}

.LogsWrapper .title {
  font-size: 20px;
  margin-bottom: 10px;
}

.LogsWrapper .message {
  margin-bottom: 20px;
}

.LogsWrapper .special {
  font-size: 16px;
  margin-bottom: 20px;
}

.LogsWrapper .result {

}

.damage {
  color: #e7323b;
  font-size: 26px;
  padding: 10px;
  display: block;
}

/* Items */
.item {
  width: 32px;
  height: 32px;
  margin-bottom: 2px;
  background: url('./pics/items.png');
  background-repeat: no-repeat;
  background-size: 1408px;
}

.item.weapon {
  background-position: 0 -736px;
}
.item.ring {
  background-position: -928px 0;
}
.item.armor {
  background-position: -256px -320px;
}
.item.wand {
  background-position: -320px -320px;
}
.item.trinket {
  background-position: -672px -672px;
}

/* Buttons */
.actionWrapper {
  margin-top: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  height: 40px;
  border: none;
}