@font-face {
    font-family: 'pixelsix00regular';
    src: url('./fonts/pixelsix00-webfont.woff2') format('woff2'),
         url('./fonts/pixelsix00-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'eight_bit_dragonregular';
  src: url('./fonts/eightbitdragon-anqx-webfont.woff2') format('woff2'),
       url('./fonts/eightbitdragon-anqx-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Main app */
html, body, #root {
  height: 100%;
  width: 100%;
  font-family: "eight_bit_dragonregular";
  font-size: 12px;
  color: white;
  text-shadow: 1px 1px black;
  image-rendering: pixelated;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #112022;
  box-shadow: inset 0px 0px 60px 0px #00000052;
}

.appWrapper {
  width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Player info on top */
.playerInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Player stats */
.playerStats {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.playerStats div {
  width: 50px;
  height: 40px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-align: center;
}

.playerStats span {
  font-size: 8px;
  opacity: .4;
}

/* Player items */
.playerItems {
  display: flex;
  justify-content: space-between;
}

.playerItems div {
  width: 50px;
  height: 50px;
  border-radius: 3px;
  text-align: center;
  background-color: #20373e;
}


/* Opponent area */
.opponentWrapper {
  position: relative;
  padding: 10px;
  margin: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #0a100f;
  border-radius: 5px;
}

.opponentWrapper.turn {
 color: red
}

.opponentWrapper .infos {
  text-align: center;
}

.opponentWrapper .portrait {
  width: 128px;
  height: 128px;
  background: url('./pics/opponents/Portraits_03.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.opponentWrapper .name {
  font-size: 18px;
  margin: 10px 0px;
}

/* Gauge */
.playerGauge {
  width: 100%;
  margin-bottom: 5px;
  background-color: #20373e;
  border-radius: 4px;
  display: flex;
  position: relative;
}

.playerGauge .indicator {
  border-radius: 4px;
}

.playerGauge .value {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
}

.playerGauge.hitPoints .indicator {
  background-color: #e7323b;
  height: 20px;
}

.playerGauge.magicPoints .indicator {
  background-color: #0494ab;
  height: 20px;
}

.playerGauge.physicalRage .indicator {
  background-color: #ce6d0a;
  height: 12px;
}

.playerGauge.magicalRage .indicator {
  background-color: #01a972;
  height: 12px;
}

.playerGauge.small .indicator {
  height: 12px;
}

.LogsWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0,0,0,.8);
  box-shadow: inset 0px 0px 60px 0px #00000052;
}

.LogsWrapper .title {
  font-size: 20px;
  margin-bottom: 10px;
}

.LogsWrapper .message {
  margin-bottom: 10px;
}

.LogsWrapper .special {
  font-size: 16px;
  margin-bottom: 10px;
}