name: MasterDeployCI
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x]
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install Packages
      run: npm install
    - name: Deploy to GH Pages
      run: |
        git config --global user.email "remi@mitose.net>"
        git config --global user.name "3615git>"
        git remote set-url origin https://9ce3482877ac3efb24d1fe2341604884dd6b8186>@github.com/3615git>/tinybattle>.git
        npm run deploy
